<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->

    <add key="BotId" value="EIBotDev2" />
    <add key="MicrosoftAppId" value="someappid" />
    <add key="MicrosoftAppPassword" value="somepassword" />
    <add key="BaseUri" value="" />

    <add key="ResearchAgentChannelName" value="Research Agents" />
    <add key="VsoOrgUrl" value="#PleaseSetVsoOrgUrl#" />
    <add key="VsoProject" value="#PleaseSetVsoProjectName#" />
    <add key="VsoUsername" value="#PleaseSetVsoUsername#" />
    <add key="VsoPassword" value="#PleaseSetVsoPasswordn#" />

    <add key="FancyHandsConsumerKey" value="#PleaseSetFancyHandsConsumerKey#" />
    <add key="FancyHandsConsumerSecret" value="#PleaseSetFancyHandsConsumerSecret#" />

    <add key="BotPhoneNumber" value="#PleaseSetPhoneNumberFromBotFrameworkSmsChannel#" />

    <add key="AgentChannelName" value="Research Requests" />
    <add key="BotName" value="EIBot  dev " />


    <add key="OFFICE_365_TENANT_FILTER" value="#ANY#" />
    <add key="MaxComposeExtensionHistoryCount" value="10" />
    <!-- VSTS Auth Config Keys -->
    <add key="AppId" value="#PleaseSetVSTSAppId#" />
    <add key="AppSecret" value="#PleaseSetVSTSAppSecret#" />
    <add key="AuthUrl" value="https://app.vssps.visualstudio.com/oauth2/authorize" />
    <add key="TokenUrl" value="https://app.vssps.visualstudio.com/oauth2/token" />
    <add key="CallbackUrl" value="#PleaseSetVSTSCallbackUrl#" />
    <add key="Scope" value="vso.work" />
    <add key="VSTSMagicNumber" value="VSTSMagicNumber" />
    <add key="VSTSAuthToken" value="VSTSAuthToken" />
    <!-- Ends Here -->
    <!-- Facebook Auth Config Keys -->
    <add key="FBAppId" value="#PleaseSetFaceBookAppId#" />
    <add key="FBAppSecret" value="#PleaseSetFaceBookAppSecret#" />
    <add key="FBAuthUrl" value="https://www.facebook.com/dialog/oauth" />
    <add key="FBTokenUrl" value="https://graph.facebook.com/v2.3/oauth/access_token" />
    <add key="FBDebugUrl" value="https://graph.facebook.com/debug_token" />
    <add key="FBProfileUrl" value="https://graph.facebook.com/v2.6/me" />
    <add key="FBCallbackUrl" value="#PleaseSetFaceBookCallBackUrl#" />
    <add key="FBMagicNumberValue" value="FaceBookMagicNumber" />
    <add key="FBMagicNumberKey" value="MagicNumber" />
    <add key="FBAccessTokenKey" value="AccessToken" />
    <add key="FBIsValidatedKey" value="IsValidated" />
    <add key="FBAuthToken" value="AuthToken" />
    <!-- Ends Here -->
</appSettings>